In [115]:
import pandas as pd
import numpy as np

# for plotting
import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
sns.set_style('darkgrid')

# Silhouette analysis
from sklearn.metrics import silhouette_score

# To perform KMeans clustering 
from sklearn.cluster import KMeans

# for scaling
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

In [116]:
# pip install openpyxl

In [117]:
# pip install xlrd

In [118]:
df = pd.read_excel('/kaggle/input/online-retail-data-set-from-uci-ml-repo/Online Retail.xlsx')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [119]:
df.shape

(541909, 8)

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [121]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

## Data Cleaning

In [122]:
df.duplicated().sum()

5268

In [123]:
df = df[~df.duplicated()]
df.shape

(536641, 8)

#### Invoice No

In [124]:
# Transactions that have negative quantity
df[df['InvoiceNo'].str.startswith('C')==True]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

In [125]:
# Deleting all the invoice number which starts with 'C' as they are returned/cancelled orders
df = df[df['InvoiceNo'].str.startswith('C')!=True]
df.shape

(527390, 8)

#### Quantity

In [126]:
# Distribution of the quantity
df.Quantity.describe()

count    527390.000000
mean         10.311272
std         160.367285
min       -9600.000000
25%           1.000000
50%           3.000000
75%          11.000000
max       80995.000000
Name: Quantity, dtype: float64

In [127]:
# Data where quantity is negative
df[df['Quantity']<0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
2406,536589,21777,NaN,-10,2010-12-01 16:50:00,0.0,NaN,United Kingdom
4347,536764,84952C,NaN,-38,2010-12-02 14:42:00,0.0,NaN,United Kingdom
7188,536996,22712,NaN,-20,2010-12-03 15:30:00,0.0,NaN,United Kingdom
7189,536997,22028,NaN,-20,2010-12-03 15:30:00,0.0,NaN,United Kingdom
7190,536998,85067,NaN,-6,2010-12-03 15:30:00,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
535333,581210,23395,check,-26,2011-12-07 18:36:00,0.0,NaN,United Kingdom
535335,581212,22578,lost,-1050,2011-12-07 18:38:00,0.0,NaN,United Kingdom
535336,581213,22576,check,-30,2011-12-07 18:38:00,0.0,NaN,United Kingdom
536908,581226,23090,missing,-338,2011-12-08 09:56:00,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,2011-12-08 15:24:00,0.0,NaN,United Kingdom

In [128]:
# Deleting negative quantity orders
df = df[df['Quantity']>=0]
df.shape

(526054, 8)

#### Invoice Date

In [129]:
print('The minimum date is:',df.InvoiceDate.min())
print('The maximum date is:',df.InvoiceDate.max())

The minimum date is: 2010-12-01 08:26:00
The maximum date is: 2011-12-09 12:50:00

##### Country

In [130]:
# we see that more than 90% have country as UK which is obvious as the retailer is UK based
df.Country.value_counts(normalize=True)

United Kingdom          0.914627
Germany                 0.017160
France                  0.015955
EIRE                    0.014985
Spain                   0.004714
Netherlands             0.004492
Belgium                 0.003861
Switzerland             0.003724
Portugal                0.002836
Australia               0.002251
Norway                  0.002038
Italy                   0.001441
Channel Islands         0.001420
Finland                 0.001302
Cyprus                  0.001146
Sweden                  0.000855
Unspecified             0.000840
Austria                 0.000757
Denmark                 0.000722
Poland                  0.000627
Japan                   0.000610
Israel                  0.000555
Hong Kong               0.000532
Singapore               0.000422
Iceland                 0.000346
USA                     0.000340
Canada                  0.000287
Greece                  0.000276
Malta                   0.000213
United Arab Emirates    0.000129
European Community      0.000114
RSA                     0.000110
Lebanon                 0.000086
Lithuania               0.000067
Brazil                  0.000061
Czech Republic          0.000048
Bahrain                 0.000034
Saudi Arabia            0.000017
Name: Country, dtype: float64

In [131]:
# Selecting UK as one country and combine rest countries into one category
df['Country'] = df['Country'].apply(lambda x:'United Kingdom' if x=='United Kingdom' else 'Others')
df.Country.value_counts(normalize=True)

United Kingdom    0.914627
Others            0.085373
Name: Country, dtype: float64

##### Description

In [132]:
# checking the number of unique item list
df.Description.nunique()

4077

In [133]:
# top 10 item sold
df.Description.value_counts().head(10)

WHITE HANGING HEART T-LIGHT HOLDER    2315
JUMBO BAG RED RETROSPOT               2112
REGENCY CAKESTAND 3 TIER              2009
PARTY BUNTING                         1700
LUNCH BAG RED RETROSPOT               1581
ASSORTED COLOUR BIRD ORNAMENT         1476
SET OF 3 CAKE TINS PANTRY DESIGN      1392
PACK OF 72 RETROSPOT CAKE CASES       1352
LUNCH BAG  BLACK SKULL.               1301
NATURAL SLATE HEART CHALKBOARD        1255
Name: Description, dtype: int64

In [134]:
#  Checking data where description = ? 
df[df['Description'].str.startswith('?')==True]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
38261,539494,21479,?,752,2010-12-20 10:36:00,0.0,NaN,United Kingdom
115807,546139,84988,?,3000,2011-03-09 16:35:00,0.0,NaN,United Kingdom
220843,556231,85123A,?,4000,2011-06-09 15:04:00,0.0,NaN,United Kingdom
282882,561665,22171,?,142,2011-07-28 16:55:00,0.0,NaN,United Kingdom
323315,565288,23135,?,101,2011-09-02 11:43:00,0.0,NaN,United Kingdom
421093,572920,72803A,?,117,2011-10-26 16:52:00,0.0,NaN,United Kingdom

In [135]:
# Deleting all the above entries
df = df[df['Description'].str.startswith('?')!=True]
df.shape

(526048, 8)

In [136]:
# Checking the data where description = *
df[df['Description'].str.startswith('*')==True]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
20749,538071,21120,*Boombox Ipod Classic,1,2010-12-09 14:09:00,16.98,NaN,United Kingdom
35675,539437,20954,*USB Office Mirror Ball,1,2010-12-17 14:54:00,8.47,NaN,United Kingdom
37095,539453,20954,*USB Office Mirror Ball,1,2010-12-17 17:08:00,8.47,NaN,United Kingdom

In [137]:
# Replacing with appropriate name
df['Description'] = df['Description'].replace(('*Boombox Ipod Classic','*USB Office Mirror Ball'),
                                             ('BOOMBOX IPOD CLASSIC','USB OFFICE MIRROR BALL'))

In [138]:
# Description have entries in uppercase words and those who don't have are noises
df[df['Description'].str.islower()==True]['Description'].value_counts()

check                                  39
found                                  25
adjustment                             14
amazon                                  8
had been put aside                      5
dotcom                                  4
mailout                                 3
taig adjust                             2
test                                    2
returned                                2
came coded as 20713                     1
add stock to allocate online orders     1
rcvd be air temp fix for dotcom sit     1
dotcom adjust                           1
alan hodge cant mamage this section     1
amazon adjust                           1
mailout                                 1
wrongly coded 23343                     1
wrongly sold (22719) barcode            1
wrongly marked                          1
on cargo order                          1
website fixed                           1
dotcomstock                             1
wrongly marked 23343                    1
to push order througha s stock was      1
wrongly coded 20713                     1
check?                                  1
found box                               1
allocate stock for dotcom orders ta     1
did  a credit  and did not tick ret     1
michel oops                             1
damaged                                 1
for online retail orders                1
amazon sales                            1
Name: Description, dtype: int64

In [139]:
# Deleting all the above noises
df = df[df['Description'].str.islower()!=True]
df.shape

(525920, 8)

In [140]:
# Description have entries in uppercase words and those who don't have are noises
df[df['Description'].str.istitle()==True]['Description'].value_counts()

Manual                                 323
Next Day Carriage                       79
Bank Charges                            12
Dotcomgiftshop Gift Voucher £20.00       9
Found                                    8
Dotcomgiftshop Gift Voucher £10.00       8
Dotcomgiftshop Gift Voucher £30.00       7
Amazon                                   7
Dotcomgiftshop Gift Voucher £50.00       4
Dotcomgiftshop Gift Voucher £40.00       3
High Resolution Image                    3
Adjustment                               2
John Lewis                               1
Amazon Adjustment                        1
Dotcomgiftshop Gift Voucher £100.00      1
Name: Description, dtype: int64

In [141]:
# Deleting all the above listed noises
df = df[df['Description'].str.istitle()!=True]
df.shape

(525452, 8)

In [142]:
df['Description'] = df['Description'].str.strip()

#### Customer ID

In [143]:
# Checking where customer id is null
df[df.CustomerID.isnull()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom

In [144]:
# Deleting entries where customer id is null
df = df[~df.CustomerID.isnull()]
df.shape

(392353, 8)

In [150]:
df.info()
df['Amount'] = df['Quantity']*df['UnitPrice']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392353 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392353 non-null  object
 1   StockCode    392353 non-null  object
 2   Description  392353 non-null  object
 3   Quantity     392353 non-null  int64
 4   InvoiceDate  392353 non-null  datetime64[ns]
 5   UnitPrice    392353 non-null  float64
 6   CustomerID   392353 non-null  float64
 7   Country      392353 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 26.9+ MB

### RFM on Data

In [152]:
# Creating a copy for RFM
df_rfm = df.copy()
# Keeping only desired columns
df_rfm = df_rfm.iloc[:,:9]
df_rfm.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Amount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [153]:
# Calculating the RECENCY
recency = pd.DataFrame(df_rfm.groupby('CustomerID')['InvoiceDate'].max().reset_index())
recency['InvoiceDate'] = pd.to_datetime(recency['InvoiceDate']).dt.date
recency['MaxDate'] = recency['InvoiceDate'].max()
recency['recency'] = (recency['MaxDate'] - recency['InvoiceDate']).dt.days + 1
recency = recency[['CustomerID','recency']]
recency.head()

   CustomerID  recency
0     12346.0      326
1     12347.0        3
2     12348.0       76
3     12349.0       19
4     12350.0      311

In [154]:
# Calculating the FREQUENCY
frequency = pd.DataFrame(df_rfm.groupby('CustomerID')['InvoiceNo'].nunique().reset_index())
frequency.columns = ['fCustomerID','frequency']
frequency.head()

   fCustomerID  frequency
0      12346.0          1
1      12347.0          7
2      12348.0          4
3      12349.0          1
4      12350.0          1

In [155]:
# Calculating the MONETARY
monetary = pd.DataFrame(df_rfm.groupby('CustomerID')['Amount'].sum().reset_index())
monetary.columns = ['mCustomerID','monetary']
monetary.head()

   mCustomerID  monetary
0      12346.0  77183.60
1      12347.0   4310.00
2      12348.0   1797.24
3      12349.0   1757.55
4      12350.0    334.40

In [156]:
# Combining the three into one table
rfm = pd.concat([recency,frequency,monetary], axis=1)
rfm.drop(['fCustomerID','mCustomerID'], axis=1, inplace=True)
rfm.head(10)

   CustomerID  recency  frequency  monetary
0     12346.0      326          1  77183.60
1     12347.0        3          7   4310.00
2     12348.0       76          4   1797.24
3     12349.0       19          1   1757.55
4     12350.0      311          1    334.40
5     12352.0       37          7   1665.74
6     12353.0      205          1     89.00
7     12354.0      233          1   1079.40
8     12355.0      215          1    459.40
9     12356.0       23          3   2811.43

In [157]:
rfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  4335 non-null   float64
 1   recency     4335 non-null   int64
 2   frequency   4335 non-null   int64
 3   monetary    4335 non-null   float64
dtypes: float64(2), int64(2)
memory usage: 135.6 KB

In [158]:
# Checking the summary
rfm.describe(percentiles=[0.25,0.5,0.75,0.9,0.95,0.99])

         CustomerID      recency    frequency       monetary
count   4335.000000  4335.000000  4335.000000    4335.000000
mean   15298.780392    93.178316     4.257670    2037.461814
std     1722.075082   100.168279     7.657456    8966.210388
min    12346.000000     1.000000     1.000000       0.000000
25%    13811.500000    18.000000     1.000000     306.290000
50%    15297.000000    51.000000     2.000000     668.430000
75%    16778.500000   143.000000     5.000000    1651.605000
90%    17685.600000   264.000000     9.000000    3626.402000
95%    17984.300000   312.000000    13.000000    5744.689000
99%    18225.660000   369.000000    30.000000   19465.318400
max    18287.000000   374.000000   206.000000  280206.020000

In [159]:
# Assigning the numbers to RFM values. The better the RFM value higher the number
# Note that this process is reverse for R score as lower the value the better it is

rfm['recency_score'] = pd.cut(rfm['recency'], bins=[0,18,51,143,264,375], labels=[5,4,3,2,1])
rfm['recency_score'] = rfm['recency_score'].astype('int')
rfm['frequency_score'] = pd.cut(rfm['frequency'], bins=[0,1,2,5,9,210], labels=[1,2,3,4,5])
rfm['frequency_score'] = rfm['frequency_score'].astype('int')
rfm['monetary_score'] = pd.cut(rfm['monetary'], bins=[-1,306,667,1650,3614,290000], labels=[1,2,3,4,5])
rfm['monetary_score'] = rfm['monetary_score'].astype('int')

In [160]:
# Summing the R,F,M score to make a one single column that has value range from 3-15
def score_rfm(x) : return (x['recency_score']) + (x['frequency_score']) + (x['monetary_score'])
rfm['score'] = rfm.apply(score_rfm,axis=1 )
rfm.head()

,CustomerID,recency,frequency,monetary,recency_score,frequency_score,monetary_score,score
0,12346.0,326,1,77183.60,1,1,5,7.0
1,12347.0,3,7,4310.00,5,4,5,14.0
2,12348.0,76,4,1797.24,3,3,4,10.0
3,12349.0,19,1,1757.55,4,1,4,9.0
4,12350.0,311,1,334.40,1,1,2,4.0

In [161]:
rfm.score.describe(percentiles=[0.25,0.5,0.75,0.9,0.95,0.99])

count    4335.000000
mean        8.414533
std         3.308478
min         3.000000
25%         6.000000
50%         8.000000
75%        11.000000
90%        13.000000
95%        15.000000
99%        15.000000
max        15.000000
Name: score, dtype: float64

In [162]:
# Assigning the customers into categories
rfm['customer_type'] = pd.cut(rfm['score'], bins=[0,6,8,11,13,16], labels=['Least likely to return','Unlikely to return','Might return','Likely to return','Most likely to return'])
rfm.head()

,CustomerID,recency,frequency,monetary,recency_score,frequency_score,monetary_score,score,customer_type
0,12346.0,326,1,77183.60,1,1,5,7.0,Unlikely to return
1,12347.0,3,7,4310.00,5,4,5,14.0,Most likely to return
2,12348.0,76,4,1797.24,3,3,4,10.0,Might return
3,12349.0,19,1,1757.55,4,1,4,9.0,Might return
4,12350.0,311,1,334.40,1,1,2,4.0,Least likely to return

In [163]:
round(rfm.customer_type.value_counts(normalize=True)*100,0)

Least likely to return    33.0
Might return              28.0
Unlikely to return        20.0
Likely to return          10.0
Most likely to return      9.0
Name: customer_type, dtype: float64

##### Observations:
- We see that around 9% of customers are in Most likely to return and 10% Likely to return category and these are the customers that will return to shop again.

In [164]:
df_grouped = df.groupby('Description')['Quantity'].sum()

# Sort the grouped data by quantity in decreasing order
df_grouped = df_grouped.sort_values(ascending=False)

# Get the top 10 products
top_10_products = df_grouped.head(10)

# Print the top 10 products
print("These are the items that store should recommend to increase revenues:")
for items in top_10_products.index:
    print(items)

These are the items that store should recommend to increase revenues:
PAPER CRAFT , LITTLE BIRDIE
MEDIUM CERAMIC TOP STORAGE JAR
WORLD WAR 2 GLIDERS ASSTD DESIGNS
JUMBO BAG RED RETROSPOT
WHITE HANGING HEART T-LIGHT HOLDER
ASSORTED COLOUR BIRD ORNAMENT
PACK OF 72 RETROSPOT CAKE CASES
POPCORN HOLDER
RABBIT NIGHT LIGHT
MINI PAINT SET VINTAGE

In [165]:
# Looking the RFM value for each of the category
rfm.groupby('customer_type')['recency','frequency','monetary'].mean().round(0)

                        recency  frequency  monetary
customer_type
Least likely to return    188.0        1.0     297.0
Unlikely to return         79.0        2.0     710.0
Might return               44.0        4.0    1416.0
Likely to return           20.0        7.0    3232.0
Most likely to return      10.0       19.0   12111.0